

/*****************************************************Cart Column ***********************************************************/

.cartcolumn-div{
    justify-items: center;
    text-align: center;
    font-weight: Bolder;
}

/*****************************************************Empty Cart***********************************************************/

.emptyCart-div{
    margin-top: 50px;
    justify-items: center;
    text-align: center;
}

.emptyCart-div h1{
    color: var(--Blue);
    font-weight: bold;
}

/*****************************************************Cart Item***********************************************************/

.cartItem-div{
    justify-items: center;
    text-align: center;
    margin: 15px auto;
}

.cartItem-div img{
    height: 5rem;
    width: 5rem;
}

.cartItem-div Button{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0 10px;
    margin:  0 5px;
}

.cartItem-div i{
    font-size: 22px;
    cursor: pointer;
}

hr{
    border-top: 1px solid var(--Blue);
    width: 100%;
    height: 5px;
}

/*****************************************************Cart Totals***********************************************************/

.cartTotals-div{
    text-align: right;
}

.margin-two{
    margin: 8px auto;
}

@media only screen and (max-width: 480px){

/*****************************************************Cart Column ***********************************************************/

    .cartcolumn-div{
      display: none;
}

/*****************************************************Cart Totals***********************************************************/

    .cartTotals-div{
        text-align: center;
    }
    
    .margin-two{
        margin: 4px;
    }

/*****************************************************Cart Item***********************************************************/

.cartItem-div{
    justify-items: center;
    text-align: center;
}

}