.detail-div h1{
    color: var(--Blue);
    text-align: center;
    padding: 40px;
}

.detail-div img{
    height: 500px;
}

.company-text{
    color: grey;
}

.detail-div .column-two{
    padding-top: 70px;
    margin: 15px 0;
}

.detail-div Button{
    margin: 15px 5px;
}

.detail-div p{
    margin-bottom: 0.1rem;
}

@media only screen and (max-width: 480px){

    .detail-div h1{
        font-size: 24px;
        padding: 15px;
    }

    .detail-div img{
        height: 250px;
        margin: 10px auto;

    }

    .detail-div{
        text-align: center;
    }

    .detail-div .column-two{
        padding-top: 5px;
    }
}