.navbar{
    background-color: #2a2a72;
    padding: 10px 200px;
}

.navbar img{
    height: 50px;
}

.product-text{
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 26px;
    margin: 0 15px;
}

.product-text:hover{
    color: rgb(218, 217, 205);
    text-decoration: none;
}

.navbar Button{
   transition: 0.5s ease-in-out ;
}

@media only screen and (max-width: 480px){

    .navbar{
        padding: 10px 15px;
    }
}